In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame(np.random.randn(6, 3), columns=['A', 'B', 'C'], index=[[10, 10, 20, 20, 30, 30], [100, 200, 100, 200, 100, 200]])
df.index.names = ['lev_0', 'lev_1']
df.columns.names = ['col_0']

In [3]:
df

col_0               A         B         C
lev_0 lev_1
10    100   -0.427074  0.950772  1.798980
      200   -0.186733 -1.288539  0.314383
20    100   -0.286807  0.213291 -0.397808
      200   -0.402859 -0.711937  0.017454
30    100    0.466105 -0.495074 -0.711207
      200    1.818349 -1.229205 -0.696687

In [8]:
df.groupby('lev_0').sum()

col_0         A         B         C
lev_0
10    -0.613807 -0.337767  2.113363
20    -0.689665 -0.498645 -0.380354
30     2.284454 -1.724279 -1.407894

In [17]:
df['AA'] = df['A'].apply(lambda x: 1 if x >=0 else -1)

In [19]:
df.groupby('AA').sum()

col_0         A         B         C
AA
-1    -2.903523  3.424974 -3.238755
 1     1.839991 -0.746198  0.741453

#### Transformation