In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], 
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

df
#df.stack()

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one    -0.771934  0.756456  0.565410 -0.432835  0.463277 -1.066387
      two     1.333448  0.687361  1.529741  0.642463 -1.018757 -1.315750
baz   one     0.911940 -1.303877  0.061235 -0.759440  0.473684 -1.564714
      two     1.720486  0.469485  0.265047  2.349704 -1.316525  1.677491
foo   one     0.105690 -0.547427  1.857891 -1.783535  0.614654 -0.331959
      two     0.504453  1.015445  1.428449  0.383355  0.542489  0.176649

In [3]:
with pd.option_context('display.multi_sparse', False):
    print(df)

first              bar       bar       baz       baz       foo       foo
second             one       two       one       two       one       two
first second
bar   one    -0.771934  0.756456  0.565410 -0.432835  0.463277 -1.066387
bar   two     1.333448  0.687361  1.529741  0.642463 -1.018757 -1.315750
baz   one     0.911940 -1.303877  0.061235 -0.759440  0.473684 -1.564714
baz   two     1.720486  0.469485  0.265047  2.349704 -1.316525  1.677491
foo   one     0.105690 -0.547427  1.857891 -1.783535  0.614654 -0.331959
foo   two     0.504453  1.015445  1.428449  0.383355  0.542489  0.176649

In [4]:
labels0 = index.get_level_values(0)
labels1 = index.get_level_values('second')

print('labels0 -> {}'.format(labels0))
print('labels1 -> {}\n'.format(labels1))

print('labels0.unique() -> {}'.format(labels0.unique()))
print('labels1.unique().values -> {}\n'.format(labels1.unique().values))

labels0 -> Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')
labels1 -> Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

labels0.unique() -> Index(['bar', 'baz', 'foo', 'qux'], dtype='object', name='first')
labels1.unique().values -> ['one' 'two']

## Advanced indexing with hierarchical index

In [5]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df = df.T
df

                     A         B         C
first second
bar   one     1.649118 -1.249283 -0.249469
      two     0.008635  1.290942 -0.004653
baz   one     0.175744 -0.741571  0.078247
      two    -0.679255 -0.337499 -0.490930
foo   one     0.540226 -0.851214 -0.696536
      two    -1.102737  0.553890 -1.211879
qux   one    -1.188888  1.291136  0.493444
      two    -0.945215  0.412778 -0.299432

In [6]:
df.loc[('bar', 'two'), 'A']

0.008634922683611728

#### MultiIndex slicers

In [8]:
def mklbl(prefix,n):
    return ["%s%s" % (prefix,i)  for i in range(n)]

miindex = pd.MultiIndex.from_product([mklbl('A',4), 
                                      mklbl('B',2), 
                                      mklbl('C',4), 
                                      mklbl('D',2)], names=['rl1', 'rl2', 'rl3', 'rl4'])

micolumns = pd.MultiIndex.from_tuples([('a','foo'),('a','bar'),('b','foo'),('b','bah')], names=['lvl0', 'lvl1'])

dfmi = pd.DataFrame(np.arange(len(miindex)*len(micolumns)).reshape((len(miindex),len(micolumns))), 
                    index=miindex, columns=micolumns).sort_index().sort_index(axis=1)

dfmi

lvl0               a         b
lvl1             bar  foo  bah  foo
rl1 rl2 rl3 rl4
A0  B0  C0  D0     1    0    3    2
            D1     5    4    7    6
        C1  D0     9    8   11   10
            D1    13   12   15   14
        C2  D0    17   16   19   18
            D1    21   20   23   22
        C3  D0    25   24   27   26
            D1    29   28   31   30
    B1  C0  D0    33   32   35   34
            D1    37   36   39   38
        C1  D0    41   40   43   42
            D1    45   44   47   46
        C2  D0    49   48   51   50
            D1    53   52   55   54
        C3  D0    57   56   59   58
            D1    61   60   63   62
A1  B0  C0  D0    65   64   67   66
            D1    69   68   71   70
        C1  D0    73   72   75   74
            D1    77   76   79   78
        C2  D0    81   80   83   82
            D1    85   84   87   86
        C3  D0    89   88   91   90
            D1    93   92   95   94
    B1  C0  D0    97   96   99   98
            D1   101  100  103  102
        C1  D0   105  104  107  106
            D1   109  108  111  110
        C2  D0   113  112  115  114
            D1   117  116  119  118
...              ...  ...  ...  ...
A2  B0  C1  D0   137  136  139  138
            D1   141  140  143  142
        C2  D0   145  144  147  146
            D1   149  148  151  150
        C3  D0   153  152  155  154
            D1   157  156  159  158
    B1  C0  D0   161  160  163  162
            D1   165  164  167  166
        C1  D0   169  168  171  170
            D1   173  172  175  174
        C2  D0   177  176  179  178
            D1   181  180  183  182
        C3  D0   185  184  187  186
            D1   189  188  191  190
A3  B0  C0  D0   193  192  195  194
            D1   197  196  199  198
        C1  D0   201  200  203  202
            D1   205  204  207  206
        C2  D0   209  208  211  210
            D1   213  212  215  214
        C3  D0   217  216  219  218
            D1   221  220  223  222
    B1  C0  D0   225  224  227  226
            D1   229  228  231  230
        C1  D0   233  232  235  234
            D1   237  236  239  238
        C2  D0   241  240  243  242
            D1   245  244  247  246
        C3  D0   249  248  251  250
            D1   253  252  255  254

[64 rows x 4 columns]

In [15]:
dfmi.loc[(slice('A1','A3'), slice(None), ['C1', 'C3']), :]

lvl0               a         b
lvl1             bar  foo  bah  foo
rl1 rl2 rl3 rl4
A1  B0  C1  D0    73   72   75   74
            D1    77   76   79   78
        C3  D0    89   88   91   90
            D1    93   92   95   94
    B1  C1  D0   105  104  107  106
            D1   109  108  111  110
        C3  D0   121  120  123  122
            D1   125  124  127  126
A2  B0  C1  D0   137  136  139  138
            D1   141  140  143  142
        C3  D0   153  152  155  154
            D1   157  156  159  158
    B1  C1  D0   169  168  171  170
            D1   173  172  175  174
        C3  D0   185  184  187  186
            D1   189  188  191  190
A3  B0  C1  D0   201  200  203  202
            D1   205  204  207  206
        C3  D0   217  216  219  218
            D1   221  220  223  222
    B1  C1  D0   233  232  235  234
            D1   237  236  239  238
        C3  D0   249  248  251  250
            D1   253  252  255  254

#### pandas.IndexSlice  a.k.a idx

You can use pandas.IndexSlice to facilitate a more natural syntax using :, rather than using slice(None)

In [17]:
idx = pd.IndexSlice
dfmi.loc[idx[:, :, ['C1', 'C3']], idx[:, 'foo']]

lvl0               a    b
lvl1             foo  foo
rl1 rl2 rl3 rl4
A0  B0  C1  D0     8   10
            D1    12   14
        C3  D0    24   26
            D1    28   30
    B1  C1  D0    40   42
            D1    44   46
        C3  D0    56   58
            D1    60   62
A1  B0  C1  D0    72   74
            D1    76   78
        C3  D0    88   90
            D1    92   94
    B1  C1  D0   104  106
            D1   108  110
        C3  D0   120  122
            D1   124  126
A2  B0  C1  D0   136  138
            D1   140  142
        C3  D0   152  154
            D1   156  158
    B1  C1  D0   168  170
            D1   172  174
        C3  D0   184  186
            D1   188  190
A3  B0  C1  D0   200  202
            D1   204  206
        C3  D0   216  218
            D1   220  222
    B1  C1  D0   232  234
            D1   236  238
        C3  D0   248  250
            D1   252  254

#### boolean mask + idx

In [29]:
mask = dfmi[('a', 'foo')] > 200
dfmi.loc[idx[mask, :, ['C1', 'C3']], idx[:, 'foo']]
# same results as
# dfmi.loc[idx[:, mask, ['C1', 'C3']], idx[:, 'foo']]
# dfmi.loc[idx[:, :, ['C1', 'C3'], mask], idx[:, 'foo']]

lvl0               a    b
lvl1             foo  foo
rl1 rl2 rl3 rl4
A3  B0  C1  D1   204  206
        C3  D0   216  218
            D1   220  222
    B1  C1  D0   232  234
            D1   236  238
        C3  D0   248  250
            D1   252  254

In [31]:
mask = (dfmi[('a', 'foo')] > 200) | (dfmi[('a', 'foo')] < 100)
dfmi.loc[idx[:, :, ['C1', 'C3'], mask], idx[:, 'foo']]

lvl0               a    b
lvl1             foo  foo
rl1 rl2 rl3 rl4
A0  B0  C1  D0     8   10
            D1    12   14
        C3  D0    24   26
            D1    28   30
    B1  C1  D0    40   42
            D1    44   46
        C3  D0    56   58
            D1    60   62
A1  B0  C1  D0    72   74
            D1    76   78
        C3  D0    88   90
            D1    92   94
A3  B0  C1  D1   204  206
        C3  D0   216  218
            D1   220  222
    B1  C1  D0   232  234
            D1   236  238
        C3  D0   248  250
            D1   252  254

In [52]:
ind = dfmi.index
print(ind.get_level_values('rl1'))
print(list(ind.get_level_values('rl1')).index('A1'))
print(ind.labels)
ind.labels[0][16], ind.labels[1][16], ind.labels[2][16], ind.labels[3][16]

Index(['A0', 'A0', 'A0', 'A0', 'A0', 'A0', 'A0', 'A0', 'A0', 'A0', 'A0', 'A0',
       'A0', 'A0', 'A0', 'A0', 'A1', 'A1', 'A1', 'A1', 'A1', 'A1', 'A1', 'A1',
       'A1', 'A1', 'A1', 'A1', 'A1', 'A1', 'A1', 'A1', 'A2', 'A2', 'A2', 'A2',
       'A2', 'A2', 'A2', 'A2', 'A2', 'A2', 'A2', 'A2', 'A2', 'A2', 'A2', 'A2',
       'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3',
       'A3', 'A3', 'A3', 'A3'],
      dtype='object', name='rl1')
16
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 0, 1, 1, 2, 2, 3, 3, 0, 0, 1, 1, 2, 2, 3, 3, 0, 0, 1, 1, 2, 2, 3, 3, 0, 0, 1, 1, 2, 2, 3, 3, 0, 0, 1, 1, 2, 2, 3, 3, 0, 0, 1, 1, 2, 2, 3, 3, 0, 0, 1, 1, 2, 2, 3, 3, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]]

(1, 0, 0, 0)

#### swapping levels

In [58]:
dfmi.swaplevel(0,3).sort_index(level=[0,1,2,3])

lvl0               a         b
lvl1             bar  foo  bah  foo
rl4 rl2 rl3 rl1
D0  B0  C0  A0     1    0    3    2
            A1    65   64   67   66
            A2   129  128  131  130
            A3   193  192  195  194
        C1  A0     9    8   11   10
            A1    73   72   75   74
            A2   137  136  139  138
            A3   201  200  203  202
        C2  A0    17   16   19   18
            A1    81   80   83   82
            A2   145  144  147  146
            A3   209  208  211  210
        C3  A0    25   24   27   26
            A1    89   88   91   90
            A2   153  152  155  154
            A3   217  216  219  218
    B1  C0  A0    33   32   35   34
            A1    97   96   99   98
            A2   161  160  163  162
            A3   225  224  227  226
        C1  A0    41   40   43   42
            A1   105  104  107  106
            A2   169  168  171  170
            A3   233  232  235  234
        C2  A0    49   48   51   50
            A1   113  112  115  114
            A2   177  176  179  178
            A3   241  240  243  242
        C3  A0    57   56   59   58
            A1   121  120  123  122
...              ...  ...  ...  ...
D1  B0  C0  A2   133  132  135  134
            A3   197  196  199  198
        C1  A0    13   12   15   14
            A1    77   76   79   78
            A2   141  140  143  142
            A3   205  204  207  206
        C2  A0    21   20   23   22
            A1    85   84   87   86
            A2   149  148  151  150
            A3   213  212  215  214
        C3  A0    29   28   31   30
            A1    93   92   95   94
            A2   157  156  159  158
            A3   221  220  223  222
    B1  C0  A0    37   36   39   38
            A1   101  100  103  102
            A2   165  164  167  166
            A3   229  228  231  230
        C1  A0    45   44   47   46
            A1   109  108  111  110
            A2   173  172  175  174
            A3   237  236  239  238
        C2  A0    53   52   55   54
            A1   117  116  119  118
            A2   181  180  183  182
            A3   245  244  247  246
        C3  A0    61   60   63   62
            A1   125  124  127  126
            A2   189  188  191  190
            A3   253  252  255  254

[64 rows x 4 columns]