In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import quandl

In [2]:
unh = quandl.get("WIKI/UNH", start_date="2000-01-01", end_date="2018-03-10")

In [52]:
aapl = quandl.get("WIKI/AAPL", start_date="2000-01-01", end_date="2018-03-10")
tsla = quandl.get("WIKI/TSLA", start_date="2000-01-01", end_date="2018-03-10")
twtr = quandl.get("WIKI/TWTR", start_date="2000-01-01", end_date="2018-03-10")
goog = quandl.get("WIKI/GOOG", start_date="2000-01-01", end_date="2018-03-10")

In [22]:
print(len(unh))
unh.head()

4574

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,53.12,54.06,52.94,53.75,428900.0,0.0,1.0,5.874926,5.978887,5.855018,5.944602,3431200.0
2000-01-04,53.38,54.25,52.94,53.06,749700.0,0.0,1.0,5.903681,5.999901,5.855018,5.868290,5997600.0
2000-01-05,53.12,54.19,52.62,52.94,1320300.0,0.0,1.0,5.874926,5.993265,5.819627,5.855018,10562400.0
2000-01-06,53.00,55.50,52.88,54.88,1912500.0,0.0,1.0,5.861654,6.138147,5.848382,6.069577,15300000.0
2000-01-07,57.50,61.50,56.88,61.31,2020100.0,0.0,1.0,6.359342,6.801731,6.290771,6.780717,16160800.0

In [26]:
unh.index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-05', '2018-03-06', '2018-03-07',
               '2018-03-08', '2018-03-09'],
              dtype='datetime64[ns]', name='Date', length=4574, freq=None)

In [44]:
ru2000 = pd.read_csv('RUSSELL2000.csv', index_col='DATE', parse_dates=True, na_values=['.'])
ru2000 = ru2000.dropna()
ru2000.columns = ['Price']

In [45]:
ru2000.head()

              Price
DATE
2000-03-10  1502.49
2000-03-13  1468.42
2000-03-14  1425.42
2000-03-15  1391.19
2000-03-16  1428.58

In [46]:
ru2000.index

DatetimeIndex(['2000-03-10', '2000-03-13', '2000-03-14', '2000-03-15',
               '2000-03-16', '2000-03-17', '2000-03-20', '2000-03-21',
               '2000-03-22', '2000-03-23',
               ...
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-05', '2018-03-06', '2018-03-07',
               '2018-03-08', '2018-03-09'],
              dtype='datetime64[ns]', name='DATE', length=4536, freq=None)

In [59]:
# Calculate accumulated returns between 2 dates
def accumulated_returns(series, date_from, date_to):
    _series = series.loc[date_from:date_to]
    return _series.iloc[-1] / _series.iloc[0]


date_from = '2016-01-01'
date_to = '2018-03-01'

unh_returns = accumulated_returns(unh['Adj. Close'], date_from, date_to)
aapl_returns = accumulated_returns(aapl['Adj. Close'], date_from, date_to)
tsla_returns = accumulated_returns(tsla['Adj. Close'], date_from, date_to)
twtr_returns = accumulated_returns(twtr['Adj. Close'], date_from, date_to)
goog_returns = accumulated_returns(goog['Adj. Close'], date_from, date_to)
ru2000_returns = accumulated_returns(ru2000['Price'], date_from, date_to)

print("[Russell 2000]: {}".format(ru2000_returns))
print("[UNH]: {}".format(unh_returns))
print("[TWTR]: {}".format(twtr_returns))
print("[TSLA]: {}".format(tsla_returns))
print("[GOOG]: {}".format(goog_returns))
print("[AAPL]: {}".format(aapl_returns))

[Russell 2000]: 1.3596930905448223
[UNH]: 1.977113584947573
[TWTR]: 1.4290780141843973
[TSLA]: 1.4812676245467975
[GOOG]: 1.4417124986520002
[AAPL]: 1.719331199727012